body{
    margin: 0;
    background:#ECECEC;
    background-repeat: no-repeat;
    font-family: "Poppins", sans-serif;
    color: #ECECEC;

  
}
a{
    text-decoration: none;

}
ul{
    list-style: none;
    padding: 0;
    overflow: hidden;
    transition: all 0.5s;
}
nav{

    background-color: #8e2de2;
    padding:0 20px;
    justify-content: space-between;
    align-items: center;

}

h1,p{
    font-family: "Poppins", sans-serif;
    color: #ECECEC;
}
nav,ul {
    display: flex;
    flex-direction: row;

}
li{
    padding: 0 20px;


}

h1{
    margin: 0;
    padding: 10px;
    
}


li:hover,h1:hover,button:hover{
    cursor: pointer;
    opacity: 0.9;
    background-color: rgba(255, 255, 255, 0.5);
}
button{

    background-color: transparent;
    border: none;
    color:#8e2de2;
    font-size: 36px;
    position: absolute;
    right: 10px;
    top: 10px;
    display: none;

}

button:focus ~ ul{
    height: 260px;
}

@media(max-width:700px){

    nav,ul {
        flex-direction: column;
    }
    ul {

        text-align: center;
        margin: 0;
        height: 0;

    }
    nav{
        padding: 0px;
        text-align: center;
    }

    h1{
       margin: 10px;
       text-align: center;

    }
    button{
        display:flex ;
    }
    li,ul {
        width: 210px;
    }
}
